/* deep red #951903 */
/* orange #F8A147 */

/*hero image*/
.fs-header:before {
    background-image: 
   url("https://www.chabadone.org/media/images/1255/KHjA12559447.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://www.chabadone.org/media/images/1256/ebDV12560523.png");
   background-size:100% 100%;
   }
   }
   
   /*logo*/
   img.fs-logo{
   content: 
   url("https://www.chabadone.org/media/images/1255/YPWI12559664.png");
   background-size:100% 100%;
   } 
   /*lines around logo and space*/
   .fs-logo-container .fs-bottom-triangle-border polygon {
       fill:#F8A147;
   }
   .fs-header-top .fs-logo-container {
   border: 4px solid #F8A147;
   border-top:0;
   background:#F8A147;
   }
   .fs-header-top {
       border-bottom: 4px solid #F8A147;
   background:#F8A147;
   }
   
   .fs-logo-container .fs-bottom-triangle  polygon{
   fill:#F8A147;
   }
   .fs-header-top .fs-logo-container:after, .fs-header-top .fs-logo-container:before {
   background:#F8A147;
   }
   /*boruch hashem*/
   #BaruchHashem.baruch_hashem {
    color:#FFF;
   }
 
/*big titles*/
.a-delay-200ms, body .fs-root h3 , body > div.fs-root > div > div.container.fs-about-partners-container > div > div.col-md-8.fs-about.js-about.fs-about-main-body > div > h3{
    color:#951903;
}

/*small titles*/
.fs-header .page-header h2 , .fs-about h4, .fs-header .page-header h1 small{
    color:#F8A147;
}

/*donate now and about campaign */
.donate-button .donate-button-text {
    background:#951903;
  border-radius: 25px !important;
  color:#FFF;
  }

  /*goal section*/
  .jumbotron.fs-header {
    border-bottom: 4px solid #951903;
}
.fs-goal{
background:#951903 ;
}
.fs-goal .fs-goal-text strong , .fs-goal .fs-goal-graph-container .fs-goal-graph-text{

color:#FFF;
}

/*countdown*/
.fs-countdown {
    background:#951903;
    }
    body .fs-root h3, .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description, .fs-countdown .fs-countdown-widget .fs-countdown-sep{
    color:#FFF;
    }
    /*maximize in countdown*/
    .fs-countdown h3 strong {
        color:#F8A147
    }

/*section next to countdown*/
    .fs-donate {
        background:#F8A147
    }
    /*body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-donate.fs-donatable.text-center.vertical-align.d-js-viewport-in > div.fs-left-border-triangle > svg > polygon{
        fill:#F8A147
    }*/
    div.fs-top-border-triangle > svg > polygon, div.fs-left-border-triangle > svg > polygon{
        fill:#F8A147
    }
    
    /*dollar sign*/
    .fs-donate .fs-donate-amounts {
        color:#951903
    }
    

    /*donor listing*/
   /*top line*/
   .fs-partners>div{
    border-top:6px solid #F8A147;
    }
    /*"our donors"*/
   .text-center h3, .fs-partners h3 span {
    color:#951903;
    }
     /*"view all donors / be the first"*/
   .fs-btn{
    background:#951903;
    border-radius: 25px !important;
    }

    /*read more*/
    .fs-about-text .fs-btn-read-more{
        background:#951903;
        color:#FFF;
    }


    /*footer*/
   .fs-footer {
    background: #951903;
    border-top: 1px solid #951903;
}
.fs-footer .row>div:nth-of-type(1) h3, .fs-footer .row>div:nth-of-type(2) h3 , address {
    color:#FFF;
    }

     /*donate page*/
   .fs-full-donate-form .fs-donate-body .fs-donate-section h3{
    color:#951903;
    }
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div {
        background:#951903;
    border-radius: 25px !important;
    }
    /*donor tag*/
.fs-partners .fs-partner-container .fs-partner {
    background:#951903;
    }
    .fs-partner .fs-bottom-triangle  polygon{
    fill:#951903;
    }
    .fs-partners .fs-partner-container .fs-partner .fs-partner-donation-amount, .fs-partners .fs-partner-container .fs-partner .fs-partner-name {
    color:#FFF;
    }