/* deep red #951903 */
/* orange #F8A147 */


/*big titles*/
.a-delay-200ms, body .fs-root h3 {
    color:#951903;
}

/*small titles*/
.fs-header .page-header h2 , .fs-about h4{
    color:#F8A147;
}

/*donate now and about campaign */
.donate-button .donate-button-text {
    background:#951903;
  border-radius: 25px !important;
  color:#FFF;
  }

  /*goal section*/
  .jumbotron.fs-header {
    border-bottom: 4px solid #951903;
}
.fs-goal{
background:#951903 ;
}
.fs-goal .fs-goal-text strong {
color:#FFF;
}

/*countdown*/
.fs-countdown {
    background:#951903;
    }
    .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description, .fs-countdown .fs-countdown-widget .fs-countdown-sep{
    color:#FFF;
    }
/*section next to countdown*/
    .fs-donate {
        background:#F8A147
    }
div.col-md-6.fs-donate.fs-donatable.text-center.vertical-align.d-js-viewport-in > div.fs-top-border-triangle > svg > polygon{
        fill:#F8A147
    }

    /*donor listing*/
   /*top line*/
   .fs-partners>div{
    border-top:6px solid #F8A147;
    }
    /*"our donors"*/
   .text-center h3, .fs-partners h3 span {
    color:#951903;
    }
     /*"view all donors / be the first"*/
   .fs-btn{
    background:#951903;
    border-radius: 25px !important;
    }


    /*footer*/
   .fs-footer {
    background: #951903;
    border-top: 1px solid #951903;
}

     /*donate page*/
   .fs-full-donate-form .fs-donate-body .fs-donate-section h3{
    color:#951903;
    }
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div {
        background:#951903;
    border-radius: 25px !important;
    }